@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /*font-family:"Ubuntu",sans-serif !important;*/
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #272829;
}

a {
  color: #568203;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Template button
--------------------------------------------------------------*/
.template-btn{
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  position: relative;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #568203;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.template-btn span{
  color: #fff;
  position: relative;
  z-index: 10;
}

.template-btn::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #568203;
  z-index: 0;
  content: '';
  transition: all 400ms cubic-bezier(.33,.68,.59,.99);
}

.template-btn:hover::after{
  height: 100%;
  color: #fff !important;
}

.template-btn:hover span{
  color: #fff;
}

.search-btn{
  padding: 14px 30px 14px 30px;
  border: none;
}

/*--------------------------------------------------------------
# whatsapp-btn
--------------------------------------------------------------*/
.whatsapp-btn {
  position: fixed;
  opacity: 0;
  width: 50px;
  height: 50px;
  right: 12px;
  bottom: 12px;
  z-index: 11;
}

.whatsapp-btn.showbacktop{
  opacity: 1;
}

.whatsapp-btn img {
  max-height: 50px;
}

@media(max-width: 767px){
  .whatsapp-btn {
    width: 35px;
    height: 35px;
    right: 10px;
    bottom: 10px;
  }

  .whatsapp-btn img {
    max-height: 35px;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #header.header-scrolled{
    background-color: #568203;
  }

  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 20px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  background: #568203;
}

.nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

@media (min-width: 992px) {
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }

  #header.header-scrolled .nav-menu a:hover,
  #header.header-scrolled .nav-menu .active > a{
    border: 2px solid #fff;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #568203;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("/assets/img/medical/dentcare/hero-bg.jpg") top right no-repeat;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #45505b;
  text-align: center;
}

#hero p {
  color: #45505b;
  margin: 15px 0 0 0;
  font-size: 26px;
  text-align: center;
}

#hero p span {
  color: #568203;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
  text-align: center;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #568203;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
  }
}

@media(max-width: 767px){
  #hero {
    text-align: center;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 36px;
  }
  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 48px;
  }
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section{
  padding: 60px 0;
  overflow: hidden;
}

.section-bg{
  background-color: #f2f3f5 /*#f2f3f5*/;
}

.section-title{
  padding: 20px;
}

.section-title span{
  display: none;
}

.section-title h2{
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}

.section-title h2:before{
  content: '';
  position: absolute;
  width: 70px;
  height: 4px;
  background-color: red;
  bottom: -10px;
  left: 50%;
  margin-left: -35px;
}

@media(max-width: 767px){
  section{
    padding: 30px 0;
  }

  .section-title{
    padding: 20px;
  }

  .section-title h2{
    font-size: 28px;
    margin-bottom: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  section{
    padding: 45px 0;
  }
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-item{
  margin-bottom: 30px;
  padding: 10px;
}

.about-item .icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #568203;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 20px;
}

.about-item .icon img{
  max-height: 70px;
}

.about-item h5{
  font-size: 24px;
  font-weight: 700;
}

.about-item p{
  font-size: 20px;
  line-height: 28px;
}

.about-box{}

.about-box p{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

.about-right{
  text-align: right;
}

.about-right .icon{
  margin: 0 0 20px auto;
}

@media(max-width: 767px){
  .about-item{
    background-color: #fff;
    text-align: center !important;
    width: 90%;
    margin: 0 auto 30px;
  }

  .about-item .icon{
    margin: 20px auto !important;
  }

  .about-box{
    text-align: center;
    margin-bottom: 25px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .about-item{
    background-color: #fff;
    text-align: center !important;
  }

  .about-item .icon{
    margin: 20px auto !important;
  }

  .about-box{
    text-align: center;
    margin-bottom: 30px;
  }
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-box{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  transition: 0.8s ease-in-out;
}

.social-box:hover{
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Medical Media
--------------------------------------------------------------*/
.medical-box{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 105px;
  transition: 0.8s ease-in-out;
}

.medical-box:hover{
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-item{
  text-align: center;
  padding: 25px 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  background-color: #fff;
}

.service-item:hover{
  background-color: #568203;
  color: #fff;
}

.service-icon img{
  max-height: 120px;
  margin-bottom: 25px;
}

.service-content h5{
  font-size: 24px;
  font-weight: 700;
}

.service-content p{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing-item {
  text-align: center;
  background: #fff;
  padding-bottom: 40px;
  margin: 15px 0;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.pricing-item .pi-top {
  height: 156px;
  padding-top: 26px;
}

.pricing-item .pi-top h4 {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.pricing-item .pi-price {
  width: 144px;
  height: 144px;
  margin: -71px auto 30px;
  padding-top: 35px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
  box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
}

.pricing-item .pi-price h3 {
  font-size: 40px;
  font-weight: 700;
  color: #666666;
}

.pricing-item .pi-price p {
  text-transform: uppercase;
  color: #999999;
}

.pricing-item ul {
  list-style: none;
  margin-bottom: 20px;
}

.pricing-item ul li {
  font-size: 18px;
  margin-bottom: 12px;
}

.pricing-item.begginer .pi-top {
  background: #568203;
}

.pricing-item a{
  background: #568203;
  color: #fff;
  font-size: 18px;
  padding: 12px 25px;
}

/*--------------------------------------------------------------
# Recent Blogs
--------------------------------------------------------------*/
.recentblogs-item{
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.recentblogs-imgbox{
  position: relative;
}

.recentblogs-date{
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  position: absolute; 
  bottom: -30px; 
  right: 30px;
  background-color: #568203;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.recentblogs-date h4{
  font-weight: 700;
  margin-bottom: -2px;
}

.recentblogs-date small{
  color: #fff;
  text-transform: uppercase;
}

.recentblogs-author{
  display: flex;
  padding: 30px;
  margin-bottom: 16px;
}

.recentblogs-authleft{
  display: flex;
  align-items: center;
}

.recentblogs-authleft img{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.recentblogs-authcenter{
  display: flex;
  align-items: center;
  margin-left: 22px;
}

.recentblogs-content{
  padding: 30px;
}

.recentblogs-content h4{
  font-weight: 700;
  margin-bottom: 16px;
}

.recentblogs-content{
  font-size: 20px;
  line-height: 28px;
}

.recentblogs-readmore{
  padding: 10px 30px 40px 20px;
  text-align: right;
}

.recentblogs-readmore a{
  background-color: #568203;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 14px 30px;
  border-radius: 10rem;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing-item {
  text-align: center;
  background: #fff;
  padding-bottom: 40px;
  margin: 15px 0;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.pricing-item .pi-top {
  height: 156px;
  padding-top: 26px;
}

.pricing-item .pi-top h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.pricing-item .pi-price {
  width: 144px;
  height: 144px;
  margin: -71px auto 30px;
  padding-top: 35px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
  box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
}

.pricing-item .pi-price h3 {
  font-size: 40px;
  font-weight: 700;
  color: #666666;
}

.pricing-item ul {
  list-style: none;
  margin-bottom: 40px;
}

.pricing-item ul li {
  font-size: 18px;
  margin-bottom: 12px;
}

.pricing-item.begginer .pi-top {
  background: #007AFF;
}

.pricing-item a{
  background: #007AFF;
  color: #fff;
  font-size: 18px;
  padding: 12px 25px;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.team-item {
   position: relative;
   padding: 30px;
   text-align: center;
   transition: .5s;
   z-index: 1;
   background-color: #fff;
   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
   margin-bottom: 30px;
}

.team-item::before,
.team-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 40%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    transition: .5s;
    z-index: -1;
}

.team-item::after {
    top: auto;
    bottom: 0;
}

.team-item h5{
  font-weight: 700;
  transition: .5s;
}

.team-item p {
  transition: .5s;
  margin-bottom: 22px;
}

.team-item img {
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 22px;
    border: 1px solid #568203;
}

.team-social{
  display: flex;
  justify-content: center;
}

.team-social a{
  width: 40px;
  height: 40px;
  color: #568203;
  background-color: #fff;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-item:hover::before,
.team-item:hover::after {
    background: #568203;
}

.team-item:hover h5,
.team-item:hover p {
    color: #FFFFFF;
}

/*--------------------------------------------------------------
# Faqs
--------------------------------------------------------------*/
.accordion {
  display: grid;
  grid-gap: 15px;
}

.faq-item {
  background-color: #568203;
  display: block;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.faq-item:not(:last-child) {
  border-bottom: 1px solid #fafafa;
}

.faq-heading {
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  position: relative;
  padding-right: 30px;
  font-weight: 700;
  color: #fff;
}

.faq-heading img{
  max-height: 25px;
  margin-right: 10px;
}

.faq-heading::after, .faq-heading::before {
  content: "";
  width: 16px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 8px;
  transition: all 0.5s ease-in-out;
}
.faq-heading::after {
  transform: rotate(90deg);
}

.faq-desc {
  display: none;
  transform: translateY(50%);
  background-color: #fff;
  padding: 8px;
  color: #999;
  font-size: 16px;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.faq-desc p{
  margin-bottom: 0;
}

.faq-item [type=checkbox], 
.faq-item [type=radio] {
  display: none;
}

.faq-item [type=radio]:checked + .faq-heading, 
.faq-item [type=checkbox]:checked + .faq-heading {
  margin-bottom: 15px;
}

.faq-item [type=radio]:checked + .faq-heading::after, 
.faq-item [type=checkbox]:checked + .faq-heading::after {
  transform: rotate(45deg);
}

.faq-item [type=radio]:checked + .faq-heading::before, 
.faq-item [type=checkbox]:checked + .faq-heading::before {
  transform: rotate(-45deg);
}

.faq-item [type=radio]:checked + .faq-heading + .faq-desc,
.faq-item [type=checkbox]:checked + .faq-heading + .faq-desc {
  transform: translateY(0);
  max-height: none;
  opacity: 1;
  color: #4c4848;
  font-weight: 500;
  display: block;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.contact .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 50px;
  height: 50px;
  background: #568203;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 18px;
  color: #728394;
}

.contact .info .email, .contact .info .phone {
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #568203;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #568203;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0678e3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media(max-width: 991px){
  .contact .php-email-form{
    margin-bottom: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer .credits {
  font-size: 18px;
}

@media(max-width: 991px){}

@media(min-width: 768px) and (max-width: 991px){}