@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  /*font-family: "Montserrat", sans-serif;*/
  /*font-family: "Muli", sans-serif;*/
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: #000;
}

a,a:hover{
  text-decoration: none;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.mywhatsapp {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  animation: backtop 2s linear infinite;
}

@keyframes backtop {
  0% {
    transform: scale(1.1) translateY(0);
  }
  20% {
    transform: scale(1.1) translateY(-10px);
  }
  30% {
    transform: scale(1.1) translateY(10px);
  }
  50% {
    transform: scale(1.1) translateY(-10px);
  }
  60% {
    transform: scale(1.1) translateY(10px);
  }
  100% {
    transform: scale(1.1) translateY(0);
  }
}

.mywhatsapp img{
  max-height: 40px;
  position: absolute;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header{
  background-color: #ED1D24;
  padding: 0 25px;
  position: relative;
  z-index: 10;
  transition: 0.5s fadeDown;
}

#header.header-scrolled {
  position: fixed;
  top: 0;
  width: 100vw;
  height: auto;
  opacity: 1;
}

.custom-header {
  padding: 15px 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: 500;
  color: #fefeff;
  margin-top: 5px;
}

.custom-btn {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 14px;
}

.custom-btn button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom-btn button span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 7px 0;
  transition: all 0.3s;
  border-radius: 5px;
}

.custom-btn .s-2 {
  width: 23px;
  margin-left: auto;
}

.custom-btn .s-2 {
  transition: all 0.1s;
}

.custom-cross-btn {
  position: fixed;
  right: 12px;
  top: 14px;
}

.custom-cross-btn button .s-1 {
  transform: rotate(45deg) translateY(17px);
}

.custom-cross-btn button .s-2 {
  transform: translateX(100px);
}

.custom-cross-btn button .s-3 {
  transform: rotate(-45deg) translateY(-17px);
}

.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.menu_width {
  width: 100vw;
  right: 0;
}

.overlay-top{
  height: 15vh;
  background-color: #ED1D24;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
}

.overlay-top h5{
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  font-style: italic;
}

.overlay-content {
  height: 85vh;
  width: 100%;
  text-align: center;
}

.overlay-content a {
  height: 42.5vh;
  border: 1px solid #ED1D24;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #ED1D24;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:all 0.4s ease-in;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.35);
}

.overlay-content a:hover{
  background-color: #ED1D24;
  color: #fff;
}

.overlay-content a img{
  max-height: 105px;
  display: block;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
}

.overlay-content a:hover img{
  max-height: 120px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}

@media(max-width: 767px){
  .overlay-top{
    height: 10vh;
  }

  .overlay-top h5{
    display: none;
  }

  .overlay-content {
    height: 90vh;
  }

  .overlay-content{
    margin: 0 0;
  }

  .overlay-content a {
    height: 30vh;
    width: 50vw !important;
  }

  .overlay-content a span{
    display: none;
  }

  .overlay-content a img{
    max-height: 60px;
    margin-bottom: 0px;
  }

  .overlay-content a:hover img{
    max-height: 80px;
    padding: 15px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .overlay-top h5{
    font-size: 24px;
  }

  .overlay-content{
    margin: 0 0;
  }

  .overlay-content a {
    font-size: 22px;
  }

  .overlay-content a img{
    max-height: 90px;
  }

  .overlay-content a:hover img{
    max-height: 100px;
    padding: 20px;
  }
}


/*--------------------------------------------------------------
# Hero Slider
--------------------------------------------------------------*/
.hero {
  background-color: #ED1D24;
  padding: 0 0;
  position: relative; 
  overflow: hidden;
}  

.heroimg-carousel{
  padding: 100px 80px 0;
}

.hero-icon{
  background-color: #fff;
  padding: 25px;
}

.hero-content{
  padding: 70px 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.hero-content span{
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1; 
}

.hero-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px; 
}

@media(max-width: 767px){
  .heroimg-carousel{
    padding: 50px 30px 0;
  }

  .hero-icon{
    padding: 20px;
  }
  .hero-content{
    padding: 40px 30px;
  }

  .hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  .hero-content p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px; 
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .hero-content{
    padding: 50px 30px;
  }

  .hero-content h1 {
    font-size: 4rem;
    font-weight: 800;
  }

  .hero-content p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px; 
  }
}

.cta-btns{
  display: flex;
}

.cta-btns a{
  background-color: #fff;
  padding: 15px 26px;
  border-radius: 5px;
  border: 3px solid #ED1D24;
  display: inline-flex;
}

.cta-btns a img{
  width: 40px !important;
  height: 40px !important;
  margin-right: 15px;
}

.cta-btns a span{
  font-size: 24px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}

.callus-btn{
  margin-right: 25px;
}

.whatsapp-btn{
}

@media(max-width: 767px){
  .cta-btns{
    display: block;
  }
  .cta-btns a{
    padding: 12px 22px;
  }

  .cta-btns a img{
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px;
  }

  .cta-btns a span{
    font-size: 20px;
    font-weight: 700;
  }

  .callus-btn{
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media(min-width: 768px) and (max-width: 991px){} 

/*--------------------------------------------------------------
# cta sections
--------------------------------------------------------------*/
.cta-section{
  background-color: #ED1D24;
}

.cta-head{
  color: #fff;
}

.cta-head h3{
  font-weight: 700;
}

.cta-head p{}

.cta-section .cta-btns{
  justify-content: center;
}

@media(max-width: 767px){
  .cta-section{
    padding: 30px 0;
  }
  .cta-head{
    padding: 0 15px;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0 50px;
  overflow: hidden;
}

.section-bg {
  background-color: #f2f9f8 /*#f2f9f8*/;
}

.section-title{
  padding-bottom: 60px;
  text-align: center;
}

.section-title span{
  font-style: italic;
  background-color: #FF3B30;
  padding: 3px 14px;
  color: #fff;
  border-radius: 10px;
}

.section-title h2{
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 10px;
}

@media(max-width: 767px){
  section {
    padding: 40px 0 30px;
    overflow: hidden;
  }

  .section-title{
    padding-bottom: 40px;
  }

  .section-title h2{
    font-size: 36px;
  }
}

/*--------------------------------------------------------------
# Template btn
--------------------------------------------------------------*/
.template-btn{
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  position: relative;
  border-radius: 30px;
  transition: 0.5s;
  line-height: 1;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  background: #ED1D24;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 30px;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.template-btn span{
  color: #fff;
  position: relative;
  z-index: 1;
}

.template-btn::after{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  background: #FF3B30;
  z-index: 0;
  content: '';
  transition: all 400ms cubic-bezier(.33,.68,.59,.99);
  border-radius: 30px;
}

.template-btn:hover::after{
  width: 100%;
  color: #fff !important;
}

.template-btn:hover span{
  color: #fff;
}

@media(max-width: 767px){
  .template-btn{
    font-size: 16px;
    padding: 16px 28px;
  }
}

@media(min-width: 768px) and (max-width: 991px){} 

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-content{
}

.about-content h6{
  margin-top: 10px;
}

.about-content h6 span{
  font-style: italic;
  background-color: #FF3B30;
  padding: 3px 14px;
  color: #fff;
  border-radius: 10px;
}

.about-content h3{
  margin-top: 15px;
  font-size: 42px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
}

.about-content p{
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;
}

@media(max-width: 767px){
  .about-content{
    text-align: center;
    padding: 20px 20px 30px;
  }

  .about-content h6{
    margin-top: 0px;
  }

  .about-content h3{
    font-size: 32px;
  }

  .about-content p{
    font-size: 18px;
    margin-bottom: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .about-content{
    text-align: center;
    padding: 20px 20px 40px;
  }

  .about-content h6{
    margin-top: 0px;
  }

  .about-content h3{
    font-size: 36px;
  }

  .about-content p{
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Service Main
--------------------------------------------------------------*/
.service-main .nav-tabs {
  border: 0;
}

.service-main .nav-link {
  display: block;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.35);
  border: 2.5px solid #ED1D24;
  padding: 20px 15px 15px;
  transition: all 0.5s;
  border-radius: 0;
  margin-bottom: 15px;
  text-align: center;
  background-color: yellow;
  color: #000;
}

.service-main .nav-link img{
  max-height: 100px;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.service-main .nav-link h4 {
  font-size: 22px;
  font-weight: 700;
  transition: all 0.5s;
}

.service-main .nav-link:hover,
.service-main .nav-link.active {
  background: #ED1D24;
  color: #fff;
  border: 1px solid #ED1D24;
}

.service-main .tab-content {
  background-color: #fff;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.35);
}

.service-item{
  padding: 40px;
}

.service-item span{
  font-style: italic;
  font-size: 18px;
}

.service-item h3{
  letter-spacing: 1.25px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 15px;
}

.service-item p{
  font-size: 22px;
  line-height: 30px;
}

.service-item ul{
  padding-left: 0;
  list-style: none;
}

.service-item ul li{
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}

.service-item ul li img{
  max-height: 40px;
  margin-right: 10px;
}

@media(max-width: 767px){
  .service-item{
    padding: 30px 15px;
  }
  .service-item ul li img{
    max-height: 25px;
    margin-right: 7px;
  }
}

@media(min-width: 768px) and (max-width: 991px){} 

/*--------------------------------------------------------------
# Why us
--------------------------------------------------------------*/
.whyus{
  background-color: rgba(0, 0, 0, 0.8);
}

.whyus h2,.whyus p{
  color: #fff;
}

.whyus-item{
  background-color: #fff;
  text-align: center;
  padding: 40px 20px 30px;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease-in-out;
}

.whyus-item:hover{
  background-color: #ED1D24;
  color: #fff;
}

.whyus-item .whyus-icon{
  width: 140px;
  height: 140px;
  padding: 20px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 2px solid #ED1D24;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

.whyus-item .whyus-icon img{
  max-height: 100px;
}

.whyus-item .whyus-content h5{
  font-weight: 700;
  font-size: 24px;
}

.whyus-item .whyus-content p{
  font-size: 20px;
}

.whyus-carousel .owl-item {
  float: left;
}

.whyus-carousel{
  overflow: hidden;
  position: relative;
  padding-bottom: 100px;
}

.whyus-carousel .owl-nav{
}

.whyus-carousel .owl-nav .owl-prev{
  position: absolute;
  left: calc(50% - 55px);
  bottom: 0;
}

.whyus-carousel .owl-nav .owl-next{
  position: absolute;
  right: calc(50% - 55px);
  bottom: 0;
}

.whyus-carousel .owl-nav .owl-prev,
.whyus-carousel .owl-nav .owl-next{
  background-color: #ED1D24;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing-item {
  text-align: center;
  background: #fff;
  padding-bottom: 40px;
  margin: 15px 0;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
}

.pricing-item .pi-top {
  height: 156px;
  padding-top: 26px;
}

.pricing-item .pi-top h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.pricing-item .pi-price {
  width: 144px;
  height: 144px;
  margin: -71px auto 30px;
  padding-top: 35px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
  box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.15);
}

.pricing-item .pi-price h3 {
  font-size: 40px;
  font-weight: 700;
  color: #666666;
}

.pricing-item ul {
  list-style: none;
  margin-bottom: 40px;
}

.pricing-item ul li {
  font-size: 18px;
  margin-bottom: 12px;
}

.pricing-item.begginer .pi-top {
  background: #ED1D24;
}

.pricing-item a{
  background: #ED1D24;
  color: #fff;
  font-size: 18px;
  padding: 12px 25px;
}

/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.team-block{
}

.team-item{
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.35);
}

.team-img{}

.team-content{
  text-align: center;
  padding: 20px;
  transition: all 0.5s ease-in;
}

.team-content h5{
  font-size: 24px;
  font-weight: 700;
}

.team-content span{
  font-style: italic;
}

.team-appointment{
  text-align: center;
}

.team-appointment a img{
  max-height: 50px;
  margin: 3px;
}

.facebook-bg{
  background:#3b5998 !important;
  color: #fff;
}

.twitter-bg{
  background: #1da1f2 !important;
  color: #fff;
}

.instagram-bg{
  background: #bb1500 !important;
  color: #fff;
}

@media(max-width: 767px){
  .team-block{
    margin-bottom: 30px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .team-block{
    margin-bottom: 30px;
  }
} 

/*--------------------------------------------------------------
# Faqs
--------------------------------------------------------------*/
.accordion {
  display: grid;
  grid-gap: 15px;
}

.faq-item {
  background-color: #ED1D24;
  display: block;
  padding: 20px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.45);
}

.faq-item:not(:last-child) {
  border-bottom: 1px solid #fafafa;
}

.faq-heading {
  font-size: 16px;
  line-height: 1.5;
  transition: all 0.5s ease-in-out;
  position: relative;
  padding-right: 30px;
  font-weight: 700;
  color: #fff;
}

.faq-heading img{
  max-height: 25px;
  margin-right: 10px;
  float: left;
}

.faq-heading::after, .faq-heading::before {
  content: "";
  width: 16px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 8px;
  transition: all 0.5s ease-in-out;
}
.faq-heading::after {
  transform: rotate(90deg);
}

.faq-desc {
  display: none;
  transform: translateY(50%);
  background-color: #fff;
  padding: 8px;
  color: #999;
  font-size: 16px;
  line-height: 1.5;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.faq-desc p{
  margin-bottom: 0;
}

.faq-item [type=checkbox], 
.faq-item [type=radio] {
  display: none;
}

.faq-item [type=radio]:checked + .faq-heading, 
.faq-item [type=checkbox]:checked + .faq-heading {
  margin-bottom: 15px;
}

.faq-item [type=radio]:checked + .faq-heading::after, 
.faq-item [type=checkbox]:checked + .faq-heading::after {
  transform: rotate(45deg);
}

.faq-item [type=radio]:checked + .faq-heading::before, 
.faq-item [type=checkbox]:checked + .faq-heading::before {
  transform: rotate(-45deg);
}

.faq-item [type=radio]:checked + .faq-heading + .faq-desc,
.faq-item [type=checkbox]:checked + .faq-heading + .faq-desc {
  transform: translateY(0);
  max-height: none;
  opacity: 1;
  color: #4c4848;
  font-weight: 500;
  display: block;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
.testimonial-block{
  padding-top: 30px;
}

.testimonial-item{
  box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.35);
  border: 2px dashed #ee390f;
}

.testimonial-icon img{
  max-height: 40px !important;
  width: 40px !important;
  margin-bottom: -20px;
  margin-top: -20px;
  margin-left: 20px;
}

.testimonial-content{
  padding: 40px 20px 20px;
  text-align: center;
  background-color: #fff;
}

.testimonial-content p{
  height: 120px !important;
  overflow-y: scroll;
}

.testimonial-content p::-webkit-scrollbar{
  width: 0;
}

.testimonial-carousel .center .testimonial-content{
  background-color: #ED1D24;
  color: #fff;
}

.testimonial-author{
  padding: 20px;
  background-color: #ED1D24;
  color: #fff;
}

.testimonial-author img{
  width: 60px !important;
  height: 60px !important;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.testimonial-carousel .center .testimonial-author{
  background-color: #fff;
  background-image: none;
  color: #ee390f;
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Do's & Don'ts
--------------------------------------------------------------*/
.dons-item{
}

.dons-title h3{
  background-color: #ED1D24;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.dons-content{
  background-color: #fff;
  padding: 30px 20px 20px;
}

.dons-list{
  list-style: none;
  padding-left: 0;
}

.dons-list li{
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}

.dons-list li img{
  float: left;
  max-height: 40px;
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact1{
  background-color: #ED1D24;
}

#contact2{
  background-color: #FF9500;
}

#contact3{
  background-color: #FF3B30;
}

#contact4{
  background-color: #4CD964;
}

.contact-item{
  text-align: center;
  padding: 25px;
}

.contact-icon{
  width: 110px;
  height: 110px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-icon img{
  max-height: 70px;
}

.contact-content{
  padding-top: 20px;
}

.contact-content h5{
  font-weight: 600;
  color: #fff;
}

.contact-content p{
  color: #fff;
}

@media(max-width: 767px){
  #contact1,#contact2,#contact3,#contact4{
    width: 90%;
    margin: 0 auto;
  }
}

@media(min-width: 768px) and (max-width: 991px){} 

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-block{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  transition: 0.8s ease-in-out;
}

.social-block:hover{
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer{
  overflow: hidden;
}

.footer-top {
  position: relative;
  background-color: #161616;
  padding: 75px 0;
}

.footer-top img {
  width: 100%;
}

.footer-top ul {
  padding: 0;
}

.footer-top ul li {
  list-style-type: none;
  margin: 10px 0;
}

.footer-top ul li a,
.footer-top ul li a:hover {
  color: #fff;
}

.footer-top h5 {
  margin-bottom: 12px;
  font-size: 22px;
  color: #fff;
  border-bottom: 2px solid #feb543;
}

.footer-top .social-box {
  margin: 25px 0;
}

.footer-top .social-box a {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.footer-top .social-box a:hover{
  color: #fff;
}

.form_container form {
  display: flex;
  align-items: center;
}

.footer-top .form_container label {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.footer-top .form_container input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 15px;
  background-color: #fff;
  margin-left: 45px;
  margin-right: 10px;
}

.footer-top .form_container button {
  background-color: #ED1D24;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 50px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
}

.copyright {
  background-color: #ffffff;
  padding: 25px 20px;
}

.copyright p {
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.copyright a {
  color: #292929;
}

@media(max-width: 767px){
  .footer-top .form_container label{
    display: none;
  }

  .footer-top .form_container input {
    width: 150px;
    padding-left: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media(min-width: 768px) and (max-width: 991px){}