@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Josefin Sans', sans-serif;
}

a:hover {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: #691999;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-transform: uppercase;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #354144;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #fff;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(31, 38, 39, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero{
  height: calc(100vh - 70px);
  background: #691999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #fff;
}

#hero h1{
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

#hero a{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: red;
  padding: 16px 30px;
  border-radius: 10rem;
  text-transform: uppercase;
}

@media(max-width: 767px){
  #hero{
    height: auto;
    padding: 40px 20px;
  }
  #hero h1{
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-content{
  padding: 30px;
}

.about-content h3{
  font-weight: 700;
  font-size: 48px;
}

.about-content p{
  font-size: 22px;
  line-height: 31px;
}

.about-img{
  text-align: center;
  background-color: #ccc;
}

.about-img img{
  max-height: 350px;
}

.about-btns a{
  display: block !important;
  width: 100% !important;
  text-align: center;
  padding: 18px 25px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.about-btns a img{
  max-height: 45px;
  margin-right: 10px;
  display: none;
}

@media(max-width: 767px){
  .about-content h3{
    font-size: 32px;
  }
}

/*--------------------------------------------------------------
# Why us
--------------------------------------------------------------*/
.whyus-item{
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #691999;
  margin-bottom: 25px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease-in-out;
}

.whyus-item .whyus-icon{
  width: 110px;
  height: 110px;
  padding: 20px;
  margin: 0 auto 20px;
  border-radius: 50%;
  border: 2px solid #691999;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

.whyus-item:hover{
  margin-top: 65px;
  background-color: #691999;
  color: #fff;
}

.whyus-item:hover .whyus-icon{
  margin: -65px auto 20px;
}

.whyus-item .whyus-icon img{
  max-height: 70px;
}

.whyus-item .whyus-content{}

.whyus-item .whyus-content h5{
  font-weight: 700;
  font-size: 24px;
}

.whyus-carousel .owl-item {
  float: left;
}

@media(min-width: 992px){
  .whyus-item{
    margin-left: calc(-50% - 10px);
    width: 100%;
  }
}

.whyus-carousel .center .whyus-item{
  background-color: #691999;
  color: #fff;
}

.whyus-carousel{
  overflow: hidden;
  position: relative;
  padding-bottom: 110px;
}

.whyus-carousel .owl-nav{
}

.whyus-carousel .owl-nav .owl-prev{
  position: absolute;
  left: calc(50% - 55px);
  bottom: 0;
}

.whyus-carousel .owl-nav .owl-next{
  position: absolute;
  right: calc(50% - 55px);
  bottom: 0;
}

.whyus-carousel .owl-nav .owl-prev,
.whyus-carousel .owl-nav .owl-next{
  background-color: #691999;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-item{
  background-color: #fff;
  padding: 40px 25px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
}

.service-icon{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto 30px;
}

.service-icon img{
  max-height: 90px;
}

.service-content h3{
  font-weight: 700;
}

.service-content p{
  font-size: 20px;
  line-height: 30px;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-item{
  background-color: #fff;
  padding: 40px 25px;
  text-align: center;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
}

.contact-icon{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto 30px;
}

.contact-icon img{
  max-height: 90px;
}

.contact-content h3{
  font-weight: 700;
}

.contact-content p{
  font-size: 20px;
  line-height: 30px;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section{
  padding: 70px 0;
}

.section-bg {
  background-color: #fff7f2 /*#fff7f2*/;
}

.section-title{
  padding-bottom: 60px;
  text-align: center;
}

.section-title h2{
  font-size: 50px;
  color: #1f1f1f/*#addaed*/;
  font-weight: 700;
}

.section-title h2 img{
  max-height: 70px;
  display: none;
}

.section-title h2 span{
  color: #1f1f1f;
}

@media(max-width: 767px){
  section{
    padding: 30px 0;
  }

  .section-title{
    padding-bottom: 30px;
  }

  .section-title h2{
    font-size: 36px;
  }
}

/*--------------------------------------------------------------
# Blog Filters
--------------------------------------------------------------*/
.allblogs #allblogs-flters {
  padding: 0;
  margin: 0 auto 30px auto;
  list-style: none;
  text-align: center;
}

.allblogs #allblogs-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #691999;
  background-color: #fff;
  border: 1px solid #691999;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.allblogs #allblogs-flters li:hover, 
.allblogs #allblogs-flters li.filter-active {
  color: #fff;
  background-color: #691999;
}

.allblogs #allblogs-flters li:last-child {
  margin-right: 0;
}

/*--------------------------------------------------------------
# All Blogs
--------------------------------------------------------------*/
.allblogs .allblogs-block {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.allblogs .allblogs-block .allblogs-img {
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

.allblogs .allblogs-block .allblogs-title {
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}

.allblogs .allblogs-block .allblogs-title a {
  transition: all 0.5s ease-in-out;
  color: #000;
}

.allblogs .allblogs-block .allblogs-title a:hover {
  color: #000;
}

.allblogs .allblogs-block .allblogs-btn a{
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  letter-spacing: 1.2px;
  word-spacing: 4px;
}

@media(max-width: 767px){
  .allblogs .allblogs-block {
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Single Blog
--------------------------------------------------------------*/
.single-blog1 .single-blog-item {
}

.single-blog1 .single-blog-item .single-blog-img {
  margin-bottom: 40px;
}

.single-blog1 .single-blog-item .single-blog-title h1{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.single-blog-content{
  margin-bottom: 45px;
}

.single-blog-content h3{
  font-weight: 700;
  font-size: 32px;
}

.single-blog-content p{
  font-size: 24px;
}

.single-blog-content .sbc-list{
  padding-left: 15px;
}

.single-blog-content .sbc-list li{
  font-size: 24px;
}

.single-blog-points h3{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
  text-decoration: underline;
}

.single-blogs-steps{
}

.single-blogs-steps p{
  font-size: 24px;
}

.single-blogs-steps .sbs-img{
  border: 2px solid #691999;
}

.single-blogs-steps .visit-link{
  padding-bottom: 60px;
  padding-top: 15px;
}

.single-blogs-steps .visit-link a{
  background-color: green;
  color: #fff;
  padding: 14px 30px;
  font-size: 18px;
}

@media(max-width: 767px){
  .single-blogs-steps .visit-link a{
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2f1708;
  padding: 30px 0;
  color: #fff;
  font-size: 18px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media(max-width: 767px){
  #footer {
    padding: 15px 0;
    margin-left: 0;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #footer {
    padding: 20px 0;
    margin-left: 0;
  }
}