@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Josefin Sans', sans-serif;
}

a:hover {
  text-decoration: none;
}

/*--------------------------------------------------------------
# Whatsapp logo
--------------------------------------------------------------*/
.whatsapp-logo{
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.whatsapp-logo img{
  max-height: 45px;
}

@media(max-width: 767px){
  .whatsapp-logo img{
    max-height: 30px;
  }
}

/*--------------------------------------------------------------
# template btns
--------------------------------------------------------------*/
.btn1{
  background-color: #691999;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10rem;
  padding: 16px 30px 14px;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}

.btn1:hover{
  background-color: #fff;
  color: #691999;
  border: 3px solid #691999;
}

.btn2{
  background-color: #fff;
  color: #691999;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10rem;
  padding: 16px 30px 14px;
  border: 3px solid #691999;
  transition: all 0.5s ease-in-out;
}

.btn2:hover{
  background-color: #691999;
  color: #fff;
  border: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: #691999;
}

#header.header-scrolled {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-transform: uppercase;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

/* Mobile Navigation */
.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #354144;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 22px;
  outline: none;
  text-align: center;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  text-decoration: none;
  background-color: #691999;
  color: #fff;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  display: none;
  background-color: #691999;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  padding: 0 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero-carousel{
}

.hero-item{
}

#hero h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

#hero p {
  font-size: 24px;
  width: 80%;
}

.hero-btns{
  margin-top: 40px;
}

@media(max-width: 767px){
  #hero .col-lg-6{
    padding: 0 0;
  }

  #hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 8;
    border-left: 100vw solid rgba(255, 255, 255, 1);
    border-top: 70vh solid #691999;
  }

  .hero-carousel{
    position: relative;
    z-index: 10;
    border: 4px solid #691999;
  }

  .hero-item{
    text-align: center;
    padding: 20px 20px 40px;
  }

  #hero h1 {
    font-size: 24px;
    line-height: 36px;
  }

  #hero p {
    font-size: 20px;
    width: 100%;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #hero .col-lg-6{
    padding: 0 0;
  }

  #hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 8;
    border-left: 100vw solid rgba(255, 255, 255, 1);
    border-top: 100vh solid #691999;
  }

  .hero-carousel{
    position: relative;
    z-index: 10;
    margin: 0 0;
    border: 5px solid #691999;
  }

  .hero-item{
    text-align: center;
    padding: 40px 30px 40px;
  }

  #hero h1 {
    font-size: 36px;
    line-height: 48px;
  }

  #hero p {
    font-size: 22px;
    width: 100%;
  }


}

@media(min-width: 992px){
  #hero{
    height: 100vh;
  }

  #hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 8;
    border-left: 100vw solid rgba(255, 255, 255, 1);
    border-top: 100vh solid #691999;
  }

  .hero-carousel{
    position: absolute;
    z-index: 10;
    height: 55vh;
    top: 45vh;
    left: 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-item{
    height: 55vh;
  }
}

.heroimg-carousel{
}

@media(max-width: 767px){
  .heroimg-carousel{
    position: relative;
    z-index: 10;
  }

  .hero-img{
    padding: 30px;
    height: 70vh;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .heroimg-carousel{
    position: relative;
    z-index: 10;
  }

  .hero-img{
    padding: 40px;
    height: 100vh;
  }
}

@media(min-width: 992px){
  .heroimg-carousel{
    position: absolute;
    z-index: 10;
    top: 5vh;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
section{
  padding: 70px 0;
}

.section-bg {
  background-color: #fff7f2 /*#fff7f2*/;
}

.section-title{
  padding-bottom: 60px;
  text-align: center;
}

.section-title h2{
  font-size: 50px;
  color: #1f1f1f/*#addaed*/;
  font-weight: 700;
}

@media(max-width: 767px){
  section{
    padding: 30px 0;
  }

  .section-title{
    padding-bottom: 30px;
  }

  .section-title h2{
    font-size: 36px;
  }
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about{
  background-color: #691999;
  color: #fff;
}

.about-content{
  padding: 30px;
}

.about-content h3{
  font-weight: 700;
  font-size: 48px;
}

.about-content p{
  font-size: 22px;
  line-height: 31px;
}

.about-img{
  text-align: center;
}

.about-img img{
  max-height: 350px;
}

.about-btns a{
  display: block !important;
  width: 100% !important;
  text-align: center;
  padding: 18px 25px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  border: 1.5px solid #fff;
}

@media(max-width: 767px){
  .about-content h3{
    font-size: 32px;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-item{
  background-color: #fff;
  padding: 40px 25px;
  text-align: center;
  margin-bottom: 30px;
  height: 100%;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
}

.service-icon{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto 30px;
}

.service-icon img{
  max-height: 90px;
}

.service-content h3{
  font-weight: 700;
}

.service-content p{
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}

.service-btn a{
  background-color: #691999;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 26px;
}

@media(max-width: 767px){
  .service-item{
    height: auto;
  }
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.price-item {
  padding: 80px 20px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  position: relative;
  width: calc(100% - 40px);
  margin: 0 auto 30px;
}

.price-item h3 {
  padding: 25px 15px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background: #691999;
  position: absolute;
  left: -20px;
  right: -20px;
  top: 0;
}

.price-item h3 span{
  font-size: 16px !important;
}

.price-item h4 {
  font-size: 32px;
  color: #691999;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}

.price-item h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.price-item h4 span {
  color: #691999;
  font-size: 16px;
  font-weight: 300;
}

.price-sections{
  margin-bottom: 30px;
}

.price-sections h5{
  background-color: #4BAE4F;
  color: #fff;
  padding: 10px;
  margin-bottom: 30px;
}

.price-sections ul{
  list-style: none;
  padding-left: 5px;
}

.price-sections ul li{
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

.price-sections ul li img{
  max-height: 20px;
  margin-right: 10px;
}

@media(max-width: 767px){
  .price-item {
    margin-bottom: 25px;
  }

  .price-item h4 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li + li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  padding: 0 30px 0 45px;
  outline: none;
}

.faq .faq-list .icon-help {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  left: 20px;
}

.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #ff7f5d;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-item{
  background-color: #fff;
  padding: 40px 25px;
  text-align: center;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
}

.contact-icon{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin: 0 auto 30px;
}

.contact-icon img{
  max-height: 90px;
}

.contact-content h3{
  font-weight: 700;
}

.contact-content p{
  font-size: 20px;
  line-height: 30px;
}

/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/
.social-block{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  transition: all 0.5s ease-in-out;
}

.social-block img{
  transition: all 0.5s ease-in-out;
}

.social-block:hover{
}

.social-block img:hover{
  transform: rotateY(360deg);
}

@media(max-width: 767px){}

@media(min-width: 768px) and (max-width: 991px){}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2f1708;
  padding: 30px 0;
  color: #fff;
  font-size: 18px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

@media(max-width: 767px){
  #footer {
    padding: 15px 0;
    margin-left: 0;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  #footer {
    padding: 20px 0;
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 0 0;
}

.breadcrumbs .breadcrumb-hero {
  text-align: center;
  background-color: green;
  padding: 30px 0;
  color: #fff;
}

.breadcrumbs .breadcrumb-hero h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.breadcrumbs .breadcrumb-hero p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.breadcrumbs ol {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 30px auto;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li a{
  color: #fff !important;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

@media(max-width: 767px){
  .breadcrumbs .breadcrumb-hero {
    padding: 30px 0;
  }

  .breadcrumbs .breadcrumb-hero h1 {
    font-size: 28px;
    letter-spacing: 1.2px;
  }

  .breadcrumbs ol {
    margin: 20px auto;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .breadcrumbs .breadcrumb-hero {
    padding: 40px 0;
  }

  .breadcrumbs .breadcrumb-hero h1 {
    font-size: 36px;
    letter-spacing: 1.4px;
  }
}

/*--------------------------------------------------------------
# Free trial
--------------------------------------------------------------*/
#freetrial{
}

.ft-left h3{
  font-weight: 700;
  font-size: 36px;
}

.ft-left p{
  font-size: 20px;
  line-height: 30px;
}

.ft-btns{
  margin-top: 40px;
}

@media(max-width: 767px){
  .ft-left{
    text-align: center;
    margin-top: 30px;
  }
  .ft-left h3{
    font-size: 24px;
  }
}

@media(min-width: 768px) and (max-width: 991px){
  .ft-left{
    text-align: center;
    margin-top: 35px;
  }
}

/*--------------------------------------------------------------
# Seo Services
--------------------------------------------------------------*/
.seoservice-item{
  background-color: #fff;
  padding: 40px 25px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.35);
}

.seoservice-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: red;
  margin: 0 auto 30px;
}

.seoservice-content h3{
  font-weight: 700;
}

.seoservice-content p{
  font-size: 20px;
  line-height: 30px;
}

/*--------------------------------------------------------------
# Blog Filters
--------------------------------------------------------------*/
.allblogs #allblogs-flters {
  padding: 0;
  margin: 0 auto 30px auto;
  list-style: none;
  text-align: center;
}

.allblogs #allblogs-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #691999;
  background-color: #fff;
  border: 1px solid #691999;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.allblogs #allblogs-flters li:hover, 
.allblogs #allblogs-flters li.filter-active {
  color: #fff;
  background-color: #691999;
}

.allblogs #allblogs-flters li:last-child {
  margin-right: 0;
}

/*--------------------------------------------------------------
# All Blogs
--------------------------------------------------------------*/
.allblogs .allblogs-block {
  padding: 20px;
  margin-bottom: 60px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.allblogs .allblogs-block .allblogs-img {
  max-height: 400px;
  margin: -20px -20px 20px -20px;
  overflow: hidden;
}

.allblogs .allblogs-block .allblogs-title {
  font-size: 22px;
  font-weight: 700;
  padding: 0;
  margin: 0 0 20px 0;
}

.allblogs .allblogs-block .allblogs-title a {
  transition: all 0.5s ease-in-out;
  color: #000;
}

.allblogs .allblogs-block .allblogs-title a:hover {
  color: #000;
}

.allblogs .allblogs-block .allblogs-btn a{
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  letter-spacing: 1.2px;
  word-spacing: 4px;
}

@media(max-width: 767px){
  .allblogs .allblogs-block {
    margin-bottom: 25px;
  }
}

/*--------------------------------------------------------------
# Single Blog
--------------------------------------------------------------*/
.single-blog1 .single-blog-item {
}

.single-blog1 .single-blog-item .single-blog-img {
  margin-bottom: 40px;
}

.single-blog1 .single-blog-item .single-blog-title h1{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.single-blog-content{
  margin-bottom: 45px;
}

.single-blog-content h3{
  font-weight: 700;
  font-size: 32px;
}

.single-blog-content p{
  font-size: 24px;
}

.single-blog-content .sbc-list{
  padding-left: 15px;
}

.single-blog-content .sbc-list li{
  font-size: 24px;
}

.single-blog-points h3{
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 25px;
  text-decoration: underline;
}

.single-blogs-steps{
}

.single-blogs-steps p{
  font-size: 24px;
}

.single-blogs-steps .sbs-tips{
  margin-top: 20px;
}

.single-blogs-steps .sbs-tips h4{
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 10px;
}

.single-blogs-steps .sbs-list{
  padding-left: 15px;
}

.single-blogs-steps .sbs-list li{
  font-size: 24px;
}

.single-blogs-steps .sbs-img{
  border: 2px solid #691999;
}

.single-blogs-steps .visit-link{
  padding-bottom: 60px;
  padding-top: 15px;
}

.single-blogs-steps .visit-link a{
  background-color: green;
  color: #fff;
  padding: 14px 30px;
  font-size: 18px;
}

@media(max-width: 767px){
  .single-blogs-steps .visit-link a{
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Reference
--------------------------------------------------------------*/
.references h4{
  font-size: 24px;
  font-weight: 700;
}

.references p{
  margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Template Box
--------------------------------------------------------------*/
.template-box{
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
}

.template-view a{
  display: block;
  border: 5px solid #691999;
  padding: 15px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
  background-color: #fff;
  color: #691999;
  transition: all 0.5s ease-in-out;
}

.template-view a:hover{
  background-color: #691999;
  color: #fff;
}